<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <h1>Log in</h1>
      <div class="message"><div></div><p>Log in and access all our courses</p></div>

      <section id="login">
        <form action="/home" method="post">

          <div class="container-inputs-login">
            <label for="username">Username</label>
            <input type="text" name="username">

            <label for="password">Password</label>
            <input type="password" name="password">
          </div>

          <input id="button-send" type="submit" value="Log in">

        </form>
      
        <p class="signin-button"><a href="/signin">You do not have an account?</a></p>
      </section>

    </main>
    <script>
    
      let xmlhttp = new XMLHttpRequets();
      let url = "https://api.ipfind.com/me?=669fb739-c41f-4763-8aac-e4ca4c279df7";
    
      // Creando Base de datos en memoria 
      const db = new sqlite3.Database(':memory:', (err) => {
        if (err) {
            return console.error(err.message);
        }
        console.log('Ready!');
        db.run(create_table);
      });
      xmlhttp.open('GET', url, true);
      xmlhttp.send();
   </script>
  </body>
</html>
