<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: crimson;
    }

    nav {
        width: 200px;
        height: 100%;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li {
        margin: 0 5px;
        font-size: 20px;
        border-bottom: solid 3px black;
    }

    li:hover {
        list-style: none;
        color: gold;
        border-bottom: solid 3px white;
    }

</style>

<body>
    <header>
        <div></div>
        <nav>
            <ul>
                <li><a href="#parte1">Parte 1</a></li>
                <li><a href="#parte2">Parte 2</a></li>
                <li><a href="#parte3">Parte 3</a></li>
            </ul>
        </nav>
    </header>

    <main>{
        <section id="parte1">
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellat, dolorum nesciunt optio, eveniet eum sapiente nisi exercitationem culpa rem assumenda a unde, vel quia eaque libero facilis at in?</div>
        </section>

        <hr>

        <section id="parte2">
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellat, dolorum nesciunt optio, eveniet eum sapiente nisi exercitationem culpa rem assumenda a unde, vel quia eaque libero facilis at in?</div>
        </section>

        <hr>

        <section id="parte3">
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellat, dolorum nesciunt optio, eveniet eum sapiente nisi exercitationem culpa rem assumenda a unde, vel quia eaque libero facilis at in?</div>
        </section>

    </main>
</body>
</html>